<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Descripción de la oferta de empleo que se ha seleccionado.">
    <title>DevJobs - Detalles de la oferta</title>
    <link rel="stylesheet" href="/src/styles/jobDetails.css">
    <script type="module" src="/src/js/searchJobs.js"></script>
</head>

<body>

    <header>
        <div>
            <h1>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <polyline points="16 18 22 12 16 6"></polyline>
                    <polyline points="8 6 2 12 8 18"></polyline>
                </svg>
                DevJobs
            </h1>
            <nav>
                <a href="/public/index.html" rel="noopener noreferrer">Inicio</a>
                <a href="/src/views/searchJobs.html" rel="noopener noreferrer">Empleos</a>
                <a href="">Empresas</a>
                <a href="">Salarios</a>
            </nav>
        </div>
        <div>
            <form class="search-bar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>

                <input type="text" placeholder="Buscar">
            </form>
            <a id="subir-cv-btn" href="">Subir CV</a>
            <img src="/src/assets/images/unnamed.jpg" alt="#">
        </div>
    </header>

    <section class="route-description">
        <div>
            <nav>
                <a href="/src/views/searchJobs.html">Empleos</a>
                <span>/</span>
                <span>Ingeniero de Software Senior</span>
            </nav>
        </div>
    </section>

    <main class="jobs-listings">
        <section class="job-details-title ">
            <div>
                <h1>Ingeniero de Software Senior</h1>
                <p>Tech Solutions Inc. · Remoto</p>
            </div>
            <div>
                <button class="button-apply-job">Aplicar</button>
            </div>
        </section>
        <section class="job-details-description">
            <div>
                <h2>Descripción del puesto</h2>
                <p>
                    Tech Solutions Inc. está buscando un Ingeniero de Software Senior altamente motivado y experimentado
                    para unirse a nuestro equipo remoto. El candidato ideal
                    tendrá una sólida formación en desarrollo de software, con experiencia en el diseño, desarrollo e
                    implementación de soluciones de software escalables y de alto
                    rendimiento. Como Ingeniero de Software Senior, usted será responsable de liderar proyectos de
                    desarrollo, mentorizar a ingenieros junior y colaborar con equipos
                    multifuncionales para entregar productos de software de alta calidad.
                </p>
            </div>
            <div>
                <h2>Responsabilidades</h2>
                <ul>
                    <li>Desarrollar y mantener aplicaciones web escalables.</li>
                    <li>Colaborar con equipos multifuncionales para definir, diseñar y enviar nuevas características.
                    </li>
                    <li>Escribir código limpio y eficiente siguiendo las mejores prácticas.</li>
                    <li>Participar en revisiones de código y proporcionar retroalimentación constructiva.</li>
                </ul>
            </div>
            <div>
                <h2>Requisitos</h2>
                <ul>
                    <li>Licenciatura en Ciencias de la Computación o campo relacionado.</li>
                    <li>Mínimo 5 años de experiencia en desarrollo de software.</li>
                    <li>Experiencia sólida con JavaScript, React y Node.js.</li>
                    <li>Conocimiento de bases de datos SQL y NoSQL.</li>
                    <li>Habilidades de resolución de problemas y pensamiento crítico.</li>
                </ul>
            </div>
            <div>
                <h2>Acerca de la empresa</h2>
                <p>Tech Solutions Inc. es una empresa de tecnología innovadora que se centra en la creación de
                    soluciones
                    de software de vanguardia para diversas industrias. Estamos
                    comprometidos con el fomento de un entorno de trabajo colaborativo e inclusivo donde cada empleado
                    pueda prosperar y crecer profesionalmente. Ofrecemos salarios
                    competitivos, beneficios integrales y oportunidades de desarrollo profesional continuo.</p>
            </div>

            <hr style="margin: 2rem 0;" />

            <div style="display: flex; justify-content: flex-end;">
                <button class="button-apply-job">Aplicar</button>
            </div>
        </section>
    </main>
    <footer>
        <small>&copy; 2025 DevJobs. Todos los derechos reservados.</small>
    </footer>

</body>